body{
    background:lightgrey;
}

#header{

    height: 180px;
    font-family:Edwardian Script ITC;
}

#logo{
    height: 180px;
}
#menu ul{
    list-style: none;
}
#menu ul li{
    border:1px solid white;
    width: 120px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    float:left;
}

.menu-item{
    float: left;
    width: 100px;
    color: black;
}

.menu-item a {
    text-decoration: none;
    color: black;
}

#main-content{
    float: left;
    width: 70%;
    background-color: aqua;
}

#sidebar{
    float: right;
    width: 25%;
    background-color: blueviolet;
}

#container{
    margin: 0 auto 0 auto;
    max-width: 1280px;
}

.article{
    height: 150px;
    border: 1px solid #000000;
    margin: 10px 5px 10px 0px;
    background-color: bisque;
    padding: 5px;
}

.article .image{
    height: 150px;
    width: 150px;
    border: 1px solid #ffffff;
    float: left;
    background-color: blueviolet;
}